  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black-color: #000;
    --white-color: #fff;
    --dark-accent-color: #031E15;
    --light-accent-color: #2EEDAE;
    --normal-accent-color: #10B981;
    --gray-background: #F4F4F5;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./loginbg.jfif);    
    height: 100dvh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.overlay {
    z-index: 200;
    position: fixed;
    display: none;
    place-items: center;
    background-color: black;
    color: #fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 0,
  'opsz' 48
}

.div-login-main {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100dvh;
    width: 100vw;
    flex-direction: column;
    
}
input {
    width: 100%;
}
input[type="checkbox"] {
    width: fit-content;
}

select {
    width: 100%; 
    height: 2.5rem; 
    border-radius:0.5rem;
    padding-left: 10%;
    padding-right: 10%;
}
.div-login-form {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50%;
    height: 100dvh;
   

   
}
.form-login-sform, .form-login-forgotform {
    display: none;
}
.form-login-lform, .form-login-sform, .form-login-forgotform {
   
    color: white;
    width: 200%;
    background-color: rgba(3,30,21, 0.9);
    box-shadow: 0 0 15px var(--light-accent-color);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30%;
    margin-top: 10%;
    width: 50%;
    height: fit-content;
 
}
.input-login-loginButton, .input-forgotPassword-forgotButton, .input-signup-signupButton {
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    background-color: var(--normal-accent-color);
    transition: all, 0.5s;
    margin-bottom: 0px;
    width: 100%;
}


.input-login-loginButton:hover, .input-signup-signupButton:hover, .input-forgotPassword-forgotButton:hover {
    background-color: var(--light-accent-color);
    cursor: pointer;
}
.input-login-loginButton:active, .input-signup-signupButton:active, .input-forgotPassword-forgotButton:active, #button-back:active {
    opacity: 0.5;
}

#button-back {
    background-color: transparent;
    color: var(--normal-accent-color);
    transition: opacity, 1s;
    font-size: 2rem;
    display: none;
    cursor: pointer;
    margin-top: 20dvh;
}
#button-back:hover {
    color: var(--light-accent-color);
}

.div-message {
    display: none;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 10%;
}

a:visited {
    color: var(--normal-accent-color);
}
a:link {
    color: var(--normal-accent-color);
}
@media (max-width: 800px) {
    .overlay {
        display: grid;
    }
    body {
        height: 100dvh;
        overflow-x: hidden;
    }
    .div-login-form {
        width: 90%;
    }
}

