body {
    background-image: url(login.jpg);    
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.overlay {
    z-index: 200;
    position: fixed;
    display: none;
    place-items: center;
    background-color: black;
    color: #fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
}

.div-login-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.div-login-form {
    display: flex;
    justify-content: center;
}
.form-login-sform, .form-login-forgotform {
    display: none;
}
.form-login-lform, .form-login-sform, .form-login-forgotform {
    border: 1px solid rgb(0,100,0);
    color: white;
    background-color: rgba(2, 26, 4, 0.8);
    padding: 30px;
    border-radius: 10px;
}
.input-login-loginButton {
    border: 1px solid navy;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    color: white;
    background-color: blue;
    transition: opacity, 1s;
    margin-bottom: 0px;
}
.input-signup-signupButton {
    border: 1px solid blueviolet;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    color: white;
    background-color: violet;
    transition: opacity, 1s;

}
.input-forgotPassword-forgotButton{
    border: 1px solid maroon;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    color: white;
    background-color: red;
    transition: opacity, 1s;
}

.input-login-loginButton:hover, .input-signup-signupButton:hover, .input-forgotPassword-forgotButton:hover, #button-back:hover {
    opacity: 0.7;
    cursor: pointer;
}
.input-login-loginButton:active, .input-signup-signupButton:active, .input-forgotPassword-forgotButton:active, #button-back:active {
    opacity: 0.1;
}

#button-back {
    background-color: red;
    color: white;
    padding: 20px;
    border: 2px solid maroon;
    transition: opacity, 1s;
    display: none;
}

.div-message {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    border-radius: 5px;
}
@media (max-width: 500px) {
    .overlay {
        display: grid;
    }
}

