@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --black-color: #000;
    --white-color: #fff;
    --dark-accent-color: #031E15;
    --light-accent-color: #2EEDAE;
    --normal-accent-color: #10B981;
    --gray-background: #F4F4F5;
}

body {
    font-family: 'Poppins', sans-serif;
}
.container-media {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    height: 100dvh;
    box-sizing: border-box;
    gap: 1rem;
    padding: 1rem;
    background-color: var(gray-background);
    overflow-y: auto;
}
.div-video-image-view {
    height: fit-content;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden; 
}

.div-media-right {
    background-color: var(--white-color);
    width: 50%;
    height: calc(100dvh - 3.5rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    padding: 1rem;
}
.div-file{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.div-file-category::-webkit-scrollbar {
    display: none;

}
/* styling input type=file */
input[type="file"] {
    display: none;
}

.label-input-file:hover {
    cursor: pointer;
    opacity: 0.8;
}
.label-input-file:active {
    opacity: 0.5;
}


::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track {
    background: yellow;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 5px;
}
.image-view {
    display: none;
    color: white;
    height: fit-content;
    width: 100%;
    object-fit: scale-down;
    object-position: center;
    
    
    
}

.video-view {
    color: white;
    width: 100%;
    height: fit-content;
}
#p1_title {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: var(--dark-accent-color);

}



/* "justify-content: flex-start;" foxed the issue where the items above are not vissible. The div is not acrolling all the way up. */
.div-file-category {
    
    color: var(--black-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 1rem;
    height: fit-content;
}
.div-category-video, .div-category-music, .div-category-image, .label-input-file {
    padding: 1rem 2rem;
    background-color: var(--gray-background);
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    height: 1rem;
    border-bottom: 5px solid var(--white-color);

}
.div-category-video {
    margin-left: 10%;
}
.label-input-file {
    margin-right: 10%;
}

.div-video, .div-music, .div-photo {
    box-sizing: border-box;
    display: flex ;
    background-color: var(--gray-background);
    color: var(--dark-accent-color);
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    white-space: nowrap;padding: 5px;
    box-sizing: border-box;   
    padding: 1rem;
}

.div-music, .div-photo {
    display: none;
}

.video:hover {
    cursor: pointer;
    background-color: darkgreen;


}


.div-media-buttons {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.previous-button {
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 100;
    height: 50px;
    opacity: 0.9;
    display: none;
    padding: 1rem 2rem;

}

.next-button {
    height: 50px;
    position: absolute;
    right: 30%;
    top: 50%;
    opacity: 0.9;
    z-index: 100;
    display: none;
    padding: 1rem 2rem;
}

.previous-button:hover, .next-button:hover {
    cursor: pointer;
}
.category-toggle {
    color: green;
    border-bottom: 5px solid var(--gray-background);
}
@media (max-width: 580px) {
    .previous-button {
        left: 10%;
    }
    .next-button {
        right: 10%;
    }
    
}

@media (max-width: 930px) {
    .container-media {
        flex-direction: row;
        justify-content: flex-start;
        overflow-y: auto;
        height: 100dvh;
        /* flex-wrap fixed the overlapping issue */
        flex-wrap: wrap;
        
    }
    .div-video-image-view {
        width: 100%;
        height: fit-content;
        overflow-y: auto;
        flex-wrap: wrap;
    }
    .div-media-right {
        width: 100%;
        height: fit-content;
        overflow-y: auto;
        flex-wrap: wrap;
    }
  
    .div-file-category {
        width: 100vw;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: start;
    }
    
}