.container-media {
    display: grid;
    grid-template-columns: 1000px 1fr;
    overflow-y: auto;
    overflow-x: hidden;
}

.div-left {
    background-color: black;
    position: fixed;
    width: 400px;
    top: 55px;
    right: 20px;
    bottom: 0;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr;
    row-gap: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
}
.div-file{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/* styling input type=file */
input[type="file"] {
    display: none;
}
.label-input-file {
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    transition: opacity 0.5s;

}
.label-input-file:hover {
    cursor: pointer;
    opacity: 0.8;
}
.label-input-file:active {
    opacity: 0.5;
}


::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track {
    background: yellow;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 5px;
}
.image-view {
    display: none;
    color: white;
    position: absolute;
    top: 10px;
    height: 650px;
    width: calc(100vw - 500px);
    left: 0;
    object-fit: contain;
    
    
    
}

.video-view {
    color: white;
    position: absolute;
    width: calc(100vw - 500px);
    left: 0;
    top: 10px;
    

}



/* "justify-content: flex-start;" foxed the issue where the items above are not vissible. The div is not acrolling all the way up. */

.div-video, .div-music, .div-photo {
    display: flex ;
    background-color: #121212;
    width: 300px;
    height: 150px;
    justify-content: flex-start;
    margin-left: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    white-space: nowrap;padding: 5px;
    border: 1px solid green;
    box-sizing: border-box;
    
}

.video:hover {
    cursor: pointer;
    background-color: darkgreen;


}

.div-video-image-view {
    height: 100%;
    color: white;
    position: fixed;
    width: calc(100vw - 500px);
    top: 50px;
    bottom: 10px;
    left: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;

    
}

.div-buttons {
    display: flex;
    align-items: center;
    top: 100px;
    position: fixed;
    left: 30px;
 
    
    

}
.previous-button {
    margin-left: 40px;
    position: absolute;
    top: 300px;
    left: 30px;
    z-index: 10;
    height: 50px;
    width: 100PX;
    opacity: 0.9;
    display: none;

}

.next-button {
    
    right: 880px;
    position: absolute;
    z-index: 10;
    height: 50px;
    width: 100PX;
    opacity: 0.9;
    display: none;
    top: 300px;
}

.previous-button:hover, .next-button:hover {
    cursor: pointer;
}
#p1_title {
    display: flex;
    justify-content: center;
    height: 50px;
    top: 0px;
    right: 0;
    left: 0;
    width: calc(100vw - 500px);
    position: absolute;
    align-items: center;
    background-color: blue;

}
@media (min-width: 400px) and (max-width: 1000px) {
    .container-media {
        display: block;
    }
    .div-left {
        position: relative;
        width: 100vw;
        overflow-y: auto;
        overflow-x: hidden;


    }

    .div-video-image-view, .div-buttons, #p1_title {
        position: relative; /* enable absolute positioning of the video */
        width: 100vw; /* width of the container */
        
        


    }
    .image-view, .video-view {
        position: absolute;
        min-width: 350px;
        
        

    }

    .div-video, .div-music, .div-photo {
        position: absolute;
        left: 50px;
        margin: 50px;
        width: calc(100vh - 50px);

    }
     


}